html{
    background: url(../storage/img/Mountains_mountains-drawing-tutorial.png) no-repeat center fixed;
}
#cloud{
    width: 350px;
    position: relative;
    animation-name: cloud;
    animation-fill-mode: forwards;
    animation-duration: 10s;
}
@keyframes cloud {
    0%{left: 0px; top: 0px;}
    100%{left: 300px; top: 0px;}
}

#flower{
    width: 200px;
    position: relative;
    top:350px;
    left: 550px;
    animation-name: flower;
    animation: flower 20s;
}
@keyframes flower {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#message{
    left: 550px;
    top: 150px;
    position: relative;
    animation-name: message;
    animation-duration: 10s;
    animation: message 20s;
}

@keyframes message{
    0%{opacity: 0;}
    100%{opacity: 1;}
}