html{
    background: url(../storage/img/Mountains_mountains-drawing-tutorial.png) no-repeat center fixed;
}

#sun{

}
#cloud{
    width: 350px;
    position: relative;
    animation-name: example;
    
    animation-duration: 10s;
}
@keyframes example {
    0%{left: 0px; top: 0px;}
    100%{left: 300px; top: 0px;}
}